{% extends 'users/base2.html' %}
{% load static %}



{% block content %}

<body class="animsition">

    <div class="page-wrapper">
<br>
<br>
<br>
        <div class="page-content--bge5">
            <div class="container">
                <div class="login-wrap">
                    <div class="login-content">
                        <div class="login-logo">
                            <a href="#">
                              <img src="{% static 'login/images/vicx.jpg' %}" alt="AVATAR">
                            </a>
                        </div>


                                                  <div class="col-md-12">
                              {% if messages %}
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                    <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                                    {% endif %}

                                    {% if message.tags == 'success' %}
                                    <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                                    {% endif %}

                                {% endfor %}
                              </div>
                              {% endif %}

                              <h2 style="font-size: 22px; text-align: center;">VICTORY MEMBERSHIP REGISTRATION</h2>
                             
                              <hr>
                               <br>
                        <div class="login-form">

                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>Username</label>
                                    <input class="au-input au-input--full" type="text" name="username" placeholder="Username" autofocus autocapitalize="none" autocomplete="none" maxlength="150" required id="id_username">
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input class="au-input au-input--full" type="password" name="password" placeholder="Password">
                                </div>
                                <div class="login-checkbox">
                                    <label>
                                        <input type="checkbox" name="remember">Remember Me
                                    </label>
                                    <label>
                                        <a href="#">Forgotten Password?</a>
                                    </label>
                                </div>
                                <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">sign in</button>
                               
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>

{% endblock content %}